.container{ 
	margin-top:10px;
	margin-bottom: 50px;
}


/* file up load */
.file-input{
	margin-top: 10px;
	margin-bottom: 10px;
}
/* .file-preview {
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 5px;
    width: 100%;
    margin-bottom: 5px;
} */
.file-preview-frame{
	display:table;
	margin:8px;
	border:1px solid #ddd;box-shadow:1px 1px 5px 0 #a2958a;
	padding:6px;
	text-align:center
} 

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    opacity: 0;
    background: 0 0;
    cursor: inherit;
    display: block;
}

/* progress bar */
.progress{
    display: none;
}

/* button remove - cancel - upload*/
#remove_select{
    display: none;
}
#cancel_progress{
    display: none;
}
#upload{
    display: none;
}

/* preview image*/
.file-preview{
    display: none;
}